* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
}

.d-flex {
  display: flex;
}

.container {
  margin: 1rem;
  justify-content: space-between;
}

.img-container {
  width: 30%;
  padding: 10px;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.user-info {
  width: 65%;
  padding: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
}

.user-info p {
  align-self: flex-end;
}

.user-card {
  margin: 1rem;
}

.user-card .user-info {
  padding: 1rem;
}

.post-btn {
  justify-content: center;
}

.border-deco {
  border: 2px solid #000;
  border-radius: 5px;
}

.post-btn .posts-btn {
  padding: 1rem;
}
